<div class="company-login-bg--container bg-container col-xs-12 col-sm-12 col-md-12 col-lg-12" id="company-edit-bg--container">

        <h1>Edit <%= resource_name.to_s.humanize %></h1>

        <div class="company-edit--nav col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="new-post--input company-edit--options company-edit--options-active" id="1">Profile</div>

<!--             Add Metrics After More Web Traction
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 new-post--input company-edit--options" id="3">Metrics</div> -->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 new-post--input company-edit--options" id="2">Password</div>
<!--             <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 new-post--input company-edit--options" id="4">Delete Account</div> -->
            <%= link_to "Logout", destroy_user_session_path, class: :"col-xs-12 col-sm-12 col-md-12 col-lg-12 new-post--input company-edit--options company-edit--logout", :method => :delete %>
        </div>

        <div class="company-edit--content col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { multipart: true, method: :put }) do |f| %>
                <%= devise_error_messages! %>

                <div class="company-edit--section company-edit--profile" id="company-edit-1">
                    <div class="field">
                        <h6 class="form-labels">Company Name*</h6>
                        <%= f.text_field :name, autofocus: true, class: "new-post--input", required: true %>
                    </div>
                    <div class="field">
                        <h6 class="form-labels">Company Description*</h6>
                        <%= f.text_area :description, class: "new-post--input", required: true %>
                    </div>
                    <div class="field">
                        <h6 class="form-labels">Company Website</h6>
                        <%= f.url_field :website, class: "new-post--input", placeholder: "http://www.example.com - (if n/a leave blank)" %>
                    </div>
                    <div class="field">
                        <h6 class="form-labels">Facebook</h6>
                        <%= f.url_field :facebook, class: "new-post--input", placeholder: "http://www.facebook.com/example - (if n/a leave blank)" %>
                    </div>
                    <div class="field">
                        <h6 class="form-labels">Instagram</h6>
                        <%= f.text_field :instagram, class: "new-post--input", placeholder: "example - (if n/a leave blank)" %>
                    </div>
<!--                     <div class="field">
                        <h6 class="form-labels">(Optional) Twitter</h6>
                        <%= f.text_field :twitter, class: "new-post--input", placeholder: "(Optional) Twitter Username" %>
                    </div> -->
                    <div class="field">
                        <%= f.label :logo, "Company Logo (150x150)", id: "company-edit--company-logo-label", required: true %><br>
                        <% if @company.logo.exists? %>
                            <%= image_tag @company.logo.url(:thumb) %><br>
                        <% end %>
                        <%= f.file_field :logo, class: "new-post--input", id: "company-edit--company-logo-upload", placeholder: "Company Logo" %>
                    </div>
                    <div class="actions">
                        <%= f.submit "Update", class: "home-search-form--search new-post--submit" %>
                    </div>
                </div>

                <div class="company-edit--section company-edit--password company-edit--hidden" id="company-edit-2">
                    <div class="field">
                        <h6 class="form-labels">Email</h6>
                        <%= f.email_field :email, class: "new-post--input", autofocus: true, placeholder: "Email" %>
                    </div>

                    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                    <% end %>

                    <div class="field">
                        <h6 class="form-labels">New Password</h6>
                        <%= f.password_field :password, class: "new-post--input", autocomplete: "off", placeholder: "New Password" %>
                    </div>

                    <div class="field">
                        <h6 class="form-labels">Confirm Password</h6>
                        <%= f.password_field :password_confirmation, class: "new-post--input", autocomplete: "off", placeholder: "Confirm Password" %>
                    </div>

                    <div class="actions">
                        <%= f.submit "Update", class: "home-search-form--search new-post--submit" %>
                    </div>
                </div>

                <div class="company-edit--section company-edit--metrics company-edit--hidden" id="company-edit-3">
                    <div>
                        <% @company.posts.each do |post| %>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 new-post--input" id="1"><%= post.title %></div>
                             <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 new-post--input" id="1">
                                <% if post.post_view_count == nil %>
                                    <p>0</p>
                                <% else %>
                                    <%= post.post_view_count %>
                                <% end %>
                            </div>
                        <% end %>
                    </div>
                </div>
            <% end %>
            

            <div class="company-edit--section company-edit--delete company-edit--hidden" id="company-edit-4">
                <h3>Are you sure you want to cancel your account?</h3>

                <%= button_to "Cancel my account", registration_path(resource_name), class: "home-search-form--search new-post--submit", data: { confirm: "Are you sure?" }, method: :delete %>
            </div>
        </div>
</div>