<div class="main-container col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
	<h1>Jobs Abroad.</h1>
	<p>Find the perfect job to get started on your adventure.</p>

	<%= search_form_for @search do |f| %>
		<%= f.text_field :title_or_description_cont, class: :"col-xs-12 col-sm-12 col-md-4 col-lg-4 home-search-form--input index-search-form--input", placeholder: "Keywords (job title, description)" %>
		<!--<%= f.text_field :city_or_state_or_zip_cont, class: :"col-xs-12 col-sm-12 col-md-4 col-lg-4 home-search-form--input index-search-form--input", placeholder: "Where (city, state, or zip code)" %>-->
		<%= f.select(:country_cont, options_for_select(@countries_uniq), {include_blank: "All", selected: :country}, class: :"col-xs-12 col-sm-12 col-md-4 col-lg-4 home-search-form--input index-search-form--input index-search-form--select", id: :"select-drop-down")%>
		<%= f.submit "Find Jobs", class: :"col-xs-12 col-sm-12 col-md-4 col-lg-4 home-search-form--search index-search-form--search", name: nil %>
	<% end %>

	<div class="post-container col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<% if @posts.present? %>
			<% @posts.each do |post| %>
				<%= link_to post_path(post) do %>
					<div class="post-container--wrapper col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="post-container--logo col-xs-12 col-sm-12 col-md-2 col-lg-2">
							<% if post.company.logo.present? %>
								<%= image_tag post.company.logo(:thumb), class: :'circle-image' %>
							<% end %>
						</div>
						<div class="post-container--each col-xs-12 col-sm-12 col-md-10 col-lg-10">
							<h1><%= post.title %></h1>
							<h2><%= post.company.name %> - <%= post.city %>, <%= post.country %></h2>
							<br>
							<!-- <%= post.created_at.strftime("%Y-%m-%d") %> -->
							<p><%= post.description %></p>
						</div>
					</div>
				<% end %>
			<% end %>
		<% else %>
			<p>There are no posts containing the term(s) <%= params[:search] %>.</p>
		<% end %>
	</div>

	<div class="jobs-pagination col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<%= will_paginate @jobs %>
	</div>
</div>

<%= render "partials/footer" %>