<div class="new-post--container col-sm-12 col-md-10 col-md-offset-1">
	<!-- XXXX COMMENT FOR STIPE XXXX
	form_for @post, html: {id:"payment-form"} do |f| -->
	<%= form_for @post do |f| %>
		<div>
			<h1>New Job Post</h1>
			<p class="post-tagline">Recruit the best teachers from around the world.</p>
			<p class="post-tagline--payment">Job will be posted for 30 days. Please double check your post as it is final. <b>Single job post is FREE for a limited time!</b> Regular price is $100 for single post.</p>

			<h6 class="form-labels">Job Title*</h6>
			<%= f.text_field :title, class: :"new-post--input", autofocus: true, required: true %>

			<h6 class="form-labels">City*</h6>
			<%= f.text_field :city, class: :"new-post--input", required: true %>

			<h6 class="form-labels">Country*</h6>
			<%= f.country_select(:country, {}, {class: "new-post--input index-search-form--select new-post--country"}, required: true) %>

			<!--<%= f.text_field :state, class: :"col-sm-12 col-md-4 new-post--input index-search-form--select", placeholder: "State", required: true %> -->

			<!--<%= f.text_field :zip, class: :"col-sm-12 col-md-4 new-post--input", placeholder: "Zip Code", required: true %> -->

			<h6 class="form-labels">Job Description*</h6>
			<%= f.text_area :description, class: :"new-post--input new-post--textarea", required: true %>

			<!-- <%= f.select :job_type, options_for_select(["Accounting/Finance", "Administrative", "Buyer", "Design", "Digital/eCommerce", "Fit Model", "Human Resources", "IT", "Logistics/Supply Chain", "Marketing", "Merchandising", "Operations", "Pattern Making", "Photography", "Production", "Retail Store", "Sales", "Social Media", "Sourcing", "Stylist", "Other"]), {include_blank: "Job Type"}, class: :"new-post--input index-search-form--select", id: :"select-drop-down", required: true %> -->
			<h6 class="form-labels">Job Qualifications*</h6>
			<%= f.text_area :qualifications, class: :"new-post--input new-post--textarea", required: true %>

			<h6 class="form-labels">Benefits*</h6>
			<%= f.text_area :benefits, class: :"new-post--input new-post--textarea", required: true %>

			<h6 class="form-labels">How To Apply*</h6>
			<%= f.text_area :how_to, class: :"new-post--input new-post--textarea", required: true %>

			<h6 class="form-labels">Application Link</h6>
			<%= f.url_field :how_to_link, class: :"new-post--input", placeholder: "http://www.example.com - (if n/a leave blank)" %>

			<h6 class="form-labels">Salary</h6>
			<%= f.text_field :salary, class: :"new-post--input", placeholder: "15,000 - 17,000 RMB per month - (if n/a leave blank)"%>

			<h6 class="form-labels">Airfare Stipend</h6>
			<%= f.text_field :airfare, class: :"new-post--input", placeholder: "Roundtrip Fare Included - (if n/a leave blank)"%>

			<h6 class="form-labels">Housing Stipend</h6>
			<%= f.text_field :housing, class: :"new-post--input", placeholder: "Rent Free Apartment - (if n/a leave blank)"%>

			<h6 class="form-labels">Bachelors Degree Required?</h6>
			<%= f.check_box :university, class: :"new-post--input" %>

			<h6 class="form-labels">TEFL Required?</h6>
			<%= f.check_box :tefl, class: :"new-post--input"%>

			<h6 class="form-labels">Vacation Days</h6>
			<%= f.text_field :vacation, class: :"new-post--input", placeholder: "20 Working Days Vacation - (if n/a leave blank)"%>

			<h6 class="form-labels">Health Insurance</h6>
			<%= f.text_field :insurance, class: :"new-post--input", placeholder: "Medical - (if n/a leave blank)"%>

			<h6 class="form-labels">Images</h6>
			
			<%= f.file_field :image, class: :"new-post--input", placeholder: "Images"%>

			</br>
			</br>
			</br>
			<p class="post-tagline--payment">Job will be posted for 30 days. Please double check your post as it is final. <b>Single job post is FREE for a limited time!</b> Regular price is $100 for single post.</p>
			<button type="submit" class="home-search-form--search new-post--submit col-sm-12" id="btn-job-post">Post Job</button>
		</div>
			
		<!-- XXXX COMMENT FOR STRIPE XXXX
		<div class="new-post--container new-post--payment-container new-post--stripe-container col-md-10 col-md-offset-1">
			<h1>Payment Options</h1>
			<p class="post-tagline">100% Secure Payments via <a href="https://stripe.com/" target="_blank">Stripe</a></p>
			<p class="post-tagline"><i class="fa fa-cc-visa" aria-hidden="true"></i> <i class="fa fa-cc-mastercard" aria-hidden="true"></i> <i class="fa fa-cc-amex" aria-hidden="true"></i> <i class="fa fa-cc-discover" aria-hidden="true"></i> <i class="fa fa-cc-jcb" aria-hidden="true"></i> <i class="fa fa-cc-diners-club" aria-hidden="true"></i></p>
			<p class="post-tagline--payment">You will be charged $100. Your job post will available 30 days.</p>
			<span class="payment-errors"></span>

				<div class="col-sm-12">
		    		<h6 class="form-labels">Credit Card Number</h6>
		    		<input type="text" size="20" data-stripe="number" class="new-post--input " placeholder="1234 1234 1234 1234" maxlength="20"/>
		    	</div>
		    	<div class="col-sm-4">
			    	<h6 class="form-labels">Month</h6>
			      	<input type="text" size="2" data-stripe="exp-month" class="new-post--input" placeholder="MM" maxlength="2"/>
			    </div>
			    <div class="col-sm-4">
			    	<h6 class="form-labels">Year</h6>
			    	<input type="text" size="4" data-stripe="exp-year" class="new-post--input" placeholder="YYYY" maxlength="4"/>
				</div>
				<div class="col-sm-4">
			    	<h6 class="form-labels">CVC</h6>
			    	<input type="text" size="4" data-stripe="cvc" class="new-post--input" placeholder="123"  maxlength="3"/>
		    	</div>
		    	<button type="submit" class="home-search-form--search new-post--submit col-sm-12" id="btn-job-post">Post Job</button>
		</div> -->
	<% end %>
</div>
