<div class="show-main col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="show-main--company col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="show-main--logo"><%= image_tag @post.company.logo(:small) %></div>
		<h1><%= simple_format @post.company.name %></h1>
		<p><%= simple_format @post.company.description %></p>
		<div class="show-main--social col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<% if @post.company.website.present? %>
				<a href="<%= @post.company.website %>" target="blank"><i class="fa fa-globe"></i></a>
			<% end %>
			<% if @post.company.facebook.present? %>
			<a href="<%= @post.company.facebook %>" target="blank"><i class="fa fa-facebook-square"></i></a>
			<% end %>
			<% if @post.company.instagram.present? %>
			<a href="https://www.instagram.com/<%= @post.company.instagram %>" target="blank"><i class="fa fa-instagram"></i></a>  
			<% end %>
			<!-- <% if @post.company.twitter.present? %>
			<a href="https://www.twitter.com/<%= @post.company.twitter %>" target="blank"><i class="fa fa-twitter-square"></i></a>
			<% end %> -->
		</div>
	</div>

<!-- 	<div class="show-main--instagram">
		<% @photos.each do |instagram| %>
    		<%= image_tag instagram.images.standard_resolution.url, class: :"col-xs-12 col-sm-12 col-md-3 col-lg-3" %>
    	<% end %>
	</div> -->
	<div class="show-main--post col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<h2><%= simple_format @post.title %></h2>
		<p><i class="fa fa-map-marker"></i> <%= @post.city %>, <%= @post.state %> - <%= @post.zip %></p>
		
		<div class="show-main--post-description col-xs-12 col-sm-12 col-md-8 col-lg-8">
			<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
				<h4>Job Description</h4>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
				<p><%= simple_format @post.description %></p>
			</div>
		</div>
		<div class="show-main--post-description col-xs-12 col-sm-12 col-md-4 col-lg-4">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<ul>
					<li class="show-side--icon-wrapper">
						<span class="show-side--icon">
							<i class="fa fa-money" aria-hidden="true"></i>
						</span>
						<span>Salary Info Goes Here</span>
					</li>
					<li class="show-side--icon-wrapper">
						<span class="show-side--icon">
							<i class="fa fa-plane" aria-hidden="true"></i>
						</span>
						<span>Airfare Stipend</span>
					</li>
					<li class="show-side--icon-wrapper">
						<span class="show-side--icon">
							<i class="fa fa-home" aria-hidden="true"></i>
						</span>
						<span>Housing Stipend</span>
					</li>
				</ul>
			</div>
		</div>

		<div class="show-main--post-description col-xs-12 col-sm-12 col-md-8 col-lg-8">		
			<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
				<h4>Qualifications</h4>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
				<p><%= simple_format @post.qualifications %></p>
			</div>
		</div>
		<div class="show-main--post-description col-xs-12 col-sm-12 col-md-4 col-lg-4">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<ul>
					<li class="show-side--icon-wrapper">
						<span class="show-side--icon">
							<i class="fa fa-graduation-cap" aria-hidden="true"></i>
						</span>
						<span>BA/BS Requirement</span>
					</li>
					<li class="show-side--icon-wrapper">
						<span class="show-side--icon">
							<i class="fa fa-book" aria-hidden="true"></i>
						</span>
						<span>TEFL/TESOL/CELTA Requirement</span>
					</li>
				</ul>
			</div>
		</div>

		<div class="show-main--post-description col-xs-12 col-sm-12 col-md-8 col-lg-8">
			<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
				<h4>Benefits</h4>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
				<p><%= simple_format @post.benefits %></p>
			</div>
		</div>
		<div class="show-main--post-description col-xs-12 col-sm-12 col-md-4 col-lg-4">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<ul>
					<li class="show-side--icon-wrapper">
						<span class="show-side--icon">
							<i class="fa fa-sun-o" aria-hidden="true"></i>
						</span>
						<span>Vacation Days</span>
					</li>
					<li class="show-side--icon-wrapper">
						<span class="show-side--icon">
							<i class="fa fa-ambulance" aria-hidden="true"></i>
						</span>
						<span>Medical Insurance</span>
					</li>
				</ul>
			</div>
		</div>

		<div class="home-search-form--search show-main--apply col-xs-12 col-sm-12 col-md-12 col-lg-12" id="show-apply-now-btn"><i class="fa fa-check-square-o"></i> Apply Now</div>

		<div class="home-search-form--search show-main--apply col-xs-12 col-sm-12 col-md-12 col-lg-12 apply-now-hidden" id="show-apply-now-div">
			<h4>How to Apply:</h4>
			<%= simple_format @post.how_to %>
			<%= link_to @post.how_to_link, @post.how_to_link, target: "blank" %>
		</div>
	</div>
</div>

<!-- <aside class="show-newsletter col-xs-12 col-sm-12 col-md-4 col-md-4">
	<div class="show-newsletter--fixed col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<h1>Stay updated.</h1>
		<p>Stay updated with the best jobs in fashion.</p>
		<%= form_for Newsletter.new do |f| %>
			<%= f.text_field :first_name, class: "new-post--input newsletter-form", placeholder: "First Name" %>
			<%= f.email_field :email, class: "new-post--input newsletter-form", placeholder: "Email" %>
			<%= f.submit "Submit", class: "home-search-form--search new-post--submit" %>
		<% end %>
		<div class="home-search-form--search show-main--apply hidden-xs hidden-sm col-md-12 col-lg-12" id="show-apply-now-btn-2"><i class="fa fa-check-square-o"></i> Apply Now</div>

		<div class="home-search-form--search show-main--apply hidden-xs hidden-sm col-md-12 col-lg-12 apply-now-hidden" id="show-apply-now-div-2">
			<h4>How to Apply:</h4>
			<%= simple_format @post.how_to %>
			<%= link_to @post.how_to_link, @post.how_to_link, target: "blank" %>
		</div>
	</div>

</aside> -->

<%= render "partials/footer" %>