<div class="show-main col-sm-12">
	<div class="show-main--company col-sm-12">
		<div class="show-main--logo">
			<% if @post.company.logo.present? %>
				<%= image_tag @post.company.logo(:small) %>
			<% else %>
				<%= image_tag("default_logo.jpg", size: "150x150", alt: "Default Profile Pic") %>
			<% end %>
		</div>
		<h1><%= @post.company.name %></h1>
		<div class="show-main--description"><%= simple_format @post.company.description %></div>
		<div class="show-main--social col-sm-12">
			<% if @post.company.website.present? %>
				<a href="<%= @post.company.website %>" target="blank"><i class="fa fa-globe"></i></a>
			<% end %>
			<% if @post.company.facebook.present? %>
			<a href="<%= @post.company.facebook %>" target="blank"><i class="fa fa-facebook-square"></i></a>
			<% end %>
			<% if @post.company.instagram.present? %>
			<a href="https://www.instagram.com/<%= @post.company.instagram %>" target="blank"><i class="fa fa-instagram"></i></a>  
			<% end %>
			<!-- <% if @post.company.twitter.present? %>
			<a href="https://www.twitter.com/<%= @post.company.twitter %>" target="blank"><i class="fa fa-twitter-square"></i></a>
			<% end %> -->
		</div>
	</div>

<!-- 	<div class="show-main--instagram">
		<% @photos.each do |instagram| %>
    		<%= image_tag instagram.images.standard_resolution.url, class: :"col-sm-12 col-md-3" %>
    	<% end %>
	</div> -->

	<div class="show-main--post col-sm-12">
		<div class="show-main--post-title col-sm-12">
			<h2><%= simple_format @post.title %></h2>
			<p><i class="fa fa-map-marker"></i> <%= @post.city %>, <%= @post.country %></p>
		</div>
		<div class="show-main--post-description col-sm-12 col-md-9">
			<div class="show-main--post-description-title col-sm-12 col-md-3">
				<h4>Job Description</h4>
			</div>
			<div class="show-main--post-description-text col-sm-12 col-md-9">
				<p><%= simple_format @post.description %></p>
			</div>
		</div>
		<div class="show-main--post-description col-sm-12 col-md-3">
			<div class="col-sm-12">
				<ul>
					<% if @post.salary.present? %>
					<li class="show-side--icon-wrapper">
						<span class="show-side--icon">
							<i class="fa fa-money" aria-hidden="true"></i>
						</span>
						<span><%= @post.salary %></span>
					</li>
					<% end %>
					<% if @post.airfare.present? %>
					<li class="show-side--icon-wrapper">
						<span class="show-side--icon">
							<i class="fa fa-plane" aria-hidden="true"></i>
						</span>
						<span>Airfare Stipend</span>
					</li>
					<% end %>
					<% if @post.housing.present? %>
					<li class="show-side--icon-wrapper">
						<span class="show-side--icon">
							<i class="fa fa-home" aria-hidden="true"></i>
						</span>
						<span>Housing Stipend</span>
					</li>
					<% end %>
				</ul>
			</div>
		</div>

		<div class="show-main--post-description col-sm-12 col-md-9">		
			<div class="show-main--post-description-title col-sm-12 col-md-3">
				<h4>Qualifications</h4>
			</div>
			<div class="show-main--post-description-text col-sm-12 col-md-9">
				<p><%= simple_format @post.qualifications %></p>
			</div>
		</div>
		<div class="show-main--post-description col-sm-12 col-md-3">
			<div class="col-sm-12">
				<ul>
					<% if @post.university.present? %>
					<li class="show-side--icon-wrapper">
						<span class="show-side--icon">
							<i class="fa fa-graduation-cap" aria-hidden="true"></i>
						</span>
						<span>BA/BS Requirement</span>
					</li>
					<% end %>
					<% if @post.tefl.present? %>
					<li class="show-side--icon-wrapper">
						<span class="show-side--icon">
							<i class="fa fa-book" aria-hidden="true"></i>
						</span>
						<span>TEFL Requirement</span>
					</li>
					<% end %>
				</ul>
			</div>
		</div>

		<div class="show-main--post-description col-sm-12 col-md-9">
			<div class="show-main--post-description-title col-sm-12 col-md-3">
				<h4>Benefits</h4>
			</div>
			<div class="show-main--post-description-text col-sm-12 col-md-9">
				<p><%= simple_format @post.benefits %></p>
			</div>
		</div>
		<div class="show-main--post-description col-sm-12 col-md-3">
			<div class="col-sm-12">
				<ul>
					<% if @post.vacation.present? %>
					<li class="show-side--icon-wrapper">
						<span class="show-side--icon">
							<i class="fa fa-sun-o" aria-hidden="true"></i>
						</span>
						<span>Vacation Days</span>
					</li>
					<% end %>
					<% if @post.insurance.present? %>
					<li class="show-side--icon-wrapper">
						<span class="show-side--icon">
							<i class="fa fa-ambulance" aria-hidden="true"></i>
						</span>
						<span>Medical Insurance</span>
					</li>
					<% end %>
				</ul>
			</div>
		</div>

		<div class="home-search-form--search show-main--apply col-sm-12 col-md-9" id="show-apply-now-btn"><i class="fa fa-check-square-o"></i> Apply Now</div>

		<div class="home-search-form--search show-main--apply col-sm-12 col-md-9 apply-now-hidden" id="show-apply-now-div">
			<h4>How to Apply:</h4>
			<%= simple_format @post.how_to %>
			<%= link_to @post.how_to_link, @post.how_to_link, target: "blank" %>
		</div>
	</div>
</div>

<!-- <aside class="show-newsletter col-sm-12 col-md-3 col-md-3">
	<div class="show-newsletter--fixed col-sm-12">
		<h1>Stay updated.</h1>
		<p>Stay updated with the best jobs in fashion.</p>
		<%= form_for Newsletter.new do |f| %>
			<%= f.text_field :first_name, class: "new-post--input newsletter-form", placeholder: "First Name" %>
			<%= f.email_field :email, class: "new-post--input newsletter-form", placeholder: "Email" %>
			<%= f.submit "Submit", class: "home-search-form--search new-post--submit" %>
		<% end %>
		<div class="home-search-form--search show-main--apply hidden-xs hidden-sm" id="show-apply-now-btn-2"><i class="fa fa-check-square-o"></i> Apply Now</div>

		<div class="home-search-form--search show-main--apply hidden-xs hidden-sm apply-now-hidden" id="show-apply-now-div-2">
			<h4>How to Apply:</h4>
			<%= simple_format @post.how_to %>
			<%= link_to @post.how_to_link, @post.how_to_link, target: "blank" %>
		</div>
	</div>

</aside> -->