<div class="main-container col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
	<h1>Teachers Abroad.</h1>
	<p>Find the perfect teacher for your program.</p>
	<%= search_form_for @q do |f| %>
		<%= f.text_field :expertise_or_description_or_experience_cont, class: :"col-xs-12 col-sm-12 col-md-4 col-lg-4 home-search-form--input index-search-form--input", placeholder: "Keywords (description, expertise, experience)" %>
		<%= f.select(:countrya_or_countryb_or_countryc_cont, options_for_select(@top_countries_uniq), {include_blank: "No Preference", selected: :country}, class: :"col-xs-12 col-sm-12 col-md-4 col-lg-4 home-search-form--input index-search-form--input index-search-form--select", id: :"select-drop-down")%>
		<%= f.submit "Find Candidates", class: :"col-xs-12 col-sm-12 col-md-4 col-lg-4 home-search-form--search index-search-form--search", name: nil %>
	<% end %>

	<div class="post-container resume-container col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<% if @users.present? %>
			<% @users.each do |user| %>
				<% if user.name.present? %>
					<%= link_to resume_path(user) do %>
						<div class="resume-container--wrapper col-xs-12 col-sm-12 col-md-4 col-lg-4">
							<div class="post-container--each resume-container--each col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<% if user.logo.present? %>
									<%= image_tag user.logo(:small), class: :'circle-image' %>
								<% end %>
								<h1 class="resume-index-container--title"><%= user.name %> <%= user.lastname %></h1>
								<p><%= user.education %></p>
								<p><%= user.citizenship %></p>
								<p><%= user.description %></p>
							</div>
						</div>
					<% end %>
				<% end %>
			<% end %>
		<% else %>
			<p>There are no posts containing the term(s) <%= params[:search] %>.</p>
		<% end %>
	</div>

	<div class="jobs-pagination col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<%= will_paginate @users %>
	</div>
</div>

<%= render "partials/footer" %>