<div class="show-main col-sm-12">
	<div class="show-main--company col-sm-12">
		<div class="post-container--logo col-sm-12 col-md-3">
			<div class="show-main--logo">
				<% if @user.logo.present? %>
					<%= image_tag @user.logo(:medium) %>
				<% else %>
					<%= image_tag("default_logo.jpg", size: "150x150", alt: "Default Profile Pic") %>
				<% end %>
			</div>
		</div>
		<div class="resume-container--title col-sm-12 col-md-9">
			<h1><%= @user.name %> <%= @user.lastname %></h1>
			<ul>
				<li class="show-side--icon-wrapper">
					<span class="show-side--icon show-resume-side--icon">Citizenship: 
						<!-- <i class="fa fa-money" aria-hidden="true"></i> -->
					</span>
					<span><%= @user.citizenship %></span>
				</li>
				<li class="show-side--icon-wrapper">
					<span class="show-side--icon show-resume-side--icon"> Education:
						<!-- <i class="fa fa-plane" aria-hidden="true"></i> -->
					</span>
					<span><%= @user.education %></span>
				</li>
				<li class="show-main--social">
					<% if @user.facebook.present? %>
						<a href="<%= @user.facebook %>" target="blank"><i class="fa fa-facebook-square"></i></a>
					<% end %>
					<% if @user.linkedin.present? %>
						<a href="<%= @user.linkedin %>" target="blank"><i class="fa fa-linkedin-square"></i></a>
					<% end %>
				</li>	
			</ul>
		</div>
		<div class="resume-container--description col-sm-12">
			<%= simple_format @user.description %>
			<p>Current Residence: <%= @user.residence %></p>
			<p>Looking for opportunities in: <%= @user.countrya %>
				<% if @user.countryb.present? %>, <%= @user.countryb %><% end %>
				<% if @user.countryc.present? %>, <%= @user.countryc %><% end %>
			</p>
		</div>
	</div>

	<div class="show-main--post col-sm-12">
		<div class="show-main--post-description col-sm-12 col-md-9">
			<div class="show-main--post-description-title col-sm-12 col-md-3">
				<h4>Experience</h4>
			</div>
			<div class="show-main--post-description-text col-sm-12 col-md-9">
				<p><%= simple_format @user.experience %></p>
			</div>
		</div>
		
		<div class="show-main--post-description col-sm-12 col-md-9">		
			<div class="show-main--post-description-title col-sm-12 col-md-3">
				<h4>Expertise</h4>
			</div>
			<div class="show-main--post-description-text col-sm-12 col-md-9">
				<p><%= simple_format @user.expertise %></p>
			</div>
		</div>
		
		<div class="show-main--post-description col-sm-12 col-md-9">
			<div class="show-main--post-description-title col-sm-12 col-md-3">
				<h4>Skills/Interests</h4>
			</div>
			<div class="show-main--post-description-text col-sm-12 col-md-9">
				<p><%= simple_format @user.skills %></p>
			</div>
		</div>
		
		<div class="show-main--post-description col-sm-12 col-md-9">
			<div class="show-main--post-description-title col-sm-12 col-md-3">
				<h4>Additional Languages</h4>
			</div>
			<div class="show-main--post-description-text col-sm-12 col-md-9">
				<p><%= simple_format @user.languages %></p>
			</div>
		</div>
		
		<div class="home-search-form--search show-main--apply col-sm-12 col-md-9" id="show-apply-now-btn"><i class="fa fa-check-square-o"></i> Contact Now</div>

		<div class="home-search-form--search show-main--apply col-sm-12 col-md-9 apply-now-hidden" id="show-apply-now-div">
			<h4>Contact Teacher:</h4>
				<p class="post-tagline--payment"><b>Congrats, you have FREE unlimited access to teachers' profiles for a limited time!</b> Regular price is $100/month.</p>
				</br>
				<%= link_to @user.email, @user.email, target: "blank" %>

			<!-- <% if current_company.present? %>
				<% if current_company.monthly != nil && current_company.monthly >= @date %>
					<%= link_to @user.email, @user.email, target: "blank" %>
				<% else %>
					<%= link_to resume_subs_path do %>
						Are you a recruiter? Click here to gain access to contact potential teachers.
					<% end %>
				<% end %>
			<% elsif current_user.present? %>
				<% if current_user.id == @user.id %>
					<%= link_to @user.email, @user.email, target: "blank" %>
				<% else %>
					<p>We discourage spam. You must be a recruiter to access contact information.</p>
				<% end %>
			<% else %>
				<%= link_to new_company_registration_path do %>
					Are you a recruiter? Sign up now to gain access to contact potential teachers.
				<% end %>
			<% end %> -->
		</div>
	</div>
</div>