<% if current_company.present? %>
	<div class="new-post--container col-md-10 col-md-offset-1">
		<h1>Recruit Teachers.</h1>
		<p class="post-tagline">Find the perfect teacher for your program.</p>
 		<div class="post-container resume-container">
			<div class="resume-container--wrapper col-md-4">
				<div class="post-container--each resume-container--each col-sm-12">
					<h1 class="resume-index-container--title">1 Month</h1>
					<h1 class="subscription-index--dollar">$100</h1>
					<ul>
						<li>Unlimited Access</li>
						<br>
					</ul>
					<button type="button" class="btn btn-primary subscription-button" id="1">Subscribe Now</button>
				</div>
			</div>
			<div class="resume-container--wrapper col-md-4">
				<div class="post-container--each resume-container--each col-sm-12">
					<h1 class="resume-index-container--title">3 Months</h1>
					<h1 class="subscription-index--dollar">$80*</h1>
					<ul>
						<li>Unlimited Access</li>
						<li>Save 20%</li>
					</ul>
					<button type="button" class="btn btn-primary subscription-button" id="2">Subscribe Now</button>
				</div>
			</div>
			<div class="resume-container--wrapper col-md-4">
				<div class="post-container--each resume-container--each col-sm-12">
					<h1 class="resume-index-container--title">6 Months</h1>
					<h1 class="subscription-index--dollar">$75*</h1>
					<ul>
						<li>Unlimited Access</li>
						<li>Save 25%</li>
					</ul>
					<button type="button" class="btn btn-primary subscription-button" id="3">Subscribe Now</button>
				</div>
			</div>
		</div>
	</div>

	<%= form_for @current, url: resume_subscribe_path, html: {method: :post} do |f| %>
	<div class="new-post--container new-post--payment-container new-post--stripe-container subscription-container payment-options-hidden col-md-8 col-md-offset-2">
		<h1>Payment Options</h1>
		<div id='sub-btn-1' class='payment-options payment-options-hidden'>
			<%= f.hidden_field :monthly, class: :"payment-amount-disabled", :id => 'mon-1', value: :'30' %>
			<p class="post-tagline">You will be charged <strong class="post-tagline--payment">$100</strong> for <strong class="post-tagline--payment">1 month</strong> of access.</p>
			<%= f.hidden_field :amount, class: :"payment-amount-disabled", :id => 'amt-1', value: :'10000' %>
		</div>
		<div id='sub-btn-2' class='payment-options payment-options-hidden'>
			<%= f.hidden_field :monthly, class: :"payment-amount-disabled", :id => 'mon-2', value: :'90' %>
			<p class="post-tagline">You will be charged <strong class="post-tagline--payment">$240</strong> for <strong class="post-tagline--payment">3 months</strong> of access.</p>
			<%= f.hidden_field :amount, class: :"payment-amount-disabled", :id => 'amt-2', value: :'24000' %>
		</div>
		<div id='sub-btn-3' class='payment-options payment-options-hidden'>
			<%= f.hidden_field :monthly, class: :"payment-amount-disabled", :id => 'mon-3', value: :'180' %>
			<p class="post-tagline">You will be charged <strong class="post-tagline--payment">$450</strong> for <strong class="post-tagline--payment">6 months</strong> of access.</p>
			<%= f.hidden_field :amount, class: :"payment-amount-disabled", :id => 'amt-3', value: :'45000' %>
		</div>
		<p class="post-tagline">100% Secure Payments via <a href="https://stripe.com/" target="_blank">Stripe</a></p>
		<p class="post-tagline"><i class="fa fa-cc-visa" aria-hidden="true"></i> <i class="fa fa-cc-mastercard" aria-hidden="true"></i> <i class="fa fa-cc-amex" aria-hidden="true"></i> <i class="fa fa-cc-discover" aria-hidden="true"></i> <i class="fa fa-cc-jcb" aria-hidden="true"></i> <i class="fa fa-cc-diners-club" aria-hidden="true"></i></p>
		<span class="payment-errors"></span>
		<div class="col-sm-12">
    		<h6 class="form-labels">Credit Card Number</h6>
    		<input type="text" size="20" data-stripe="number" class="new-post--input " placeholder="1234 1234 1234 1234" maxlength="20"/>
    	</div>
    	<div class="col-sm-4">
	    	<h6 class="form-labels">Month</h6>
	      	<input type="text" size="2" data-stripe="exp-month" class="new-post--input" placeholder="MM" maxlength="2"/>
	    </div>
	    <div class="col-sm-4">
	    	<h6 class="form-labels">Year</h6>
	    	<input type="text" size="4" data-stripe="exp-year" class="new-post--input" placeholder="YYYY" maxlength="4"/>
		</div>
		<div class="col-sm-4">
	    	<h6 class="form-labels">CVC</h6>
	    	<input type="text" size="4" data-stripe="cvc" class="new-post--input" placeholder="123"  maxlength="3"/>
    	</div>

    	<button type="submit" class="home-search-form--search new-post--submit col-sm-12" id="btn-job-post">Subscribe Now</button>
    <% end %>
    </div>

<% else %>
	<script type="text/javascript">
    	window.location.href="/companies/sign_in"  // put your correct path in a string here
 	</script>
<% end %>