<!DOCTYPE html>
<html>
<head>
  <title>Styleslot</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="home-flash">
    	<% if notice %>
    		<div class="bg-success"><%= notice %></div>
    	<% end %>
    	<% if alert %>
    	    <div class="bg-danger"><%= alert %></div>
    	<% end %>
   	</div>

   	<nav>
   		<li><%= link_to "Companies Sign In", new_company_session_path %></li>
   		<li><%= link_to "Companies Sign Up", new_company_registration_path %></li>
   	</nav>
   	<br>
   	<nav>
   		<li><%= link_to "Users Sign In", new_user_session_path %></li>
   		<li><%= link_to "Users Sign Up", new_company_registration_path %></li>
   	</nav>

<%= yield %>

</body>
</html>
