<!DOCTYPE html>
<html>
<head>
    <title>Lovework | Fashion - Find jobs in the fashion industry</title>
    <meta charset="UTF-8">
    <meta name="description" content="Find your dream job in the fashion industry. Love fashion, work fashion.">
    <meta name="keywords" content="fashion,jobs,style,retail,fashion industry,job board">
    <meta name="author" content="Lovework | Fashion">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'https://js.stripe.com/v2/', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= tag :meta, name: "stripe-key", content: ENV["STRIPE_PUBLIC"] %>
    <%= favicon_link_tag 'logo-favicon.png' %>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700|Roboto" rel="stylesheet">
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-74048275-1', 'auto');
      ga('send', 'pageview');
    </script>

</head>

<body>
   <nav class="navbar nav-bar" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle btn-navbar" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false" aria-controls="navbar" id="navbar-hamburger">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span> 
            </button>
                <%= link_to image_tag("logo.png", border: 0), root_path, id: :"navbar-logo" %>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <% if company_signed_in? %>
                    <li>
                        <%= link_to "Jobs", posts_path, :method => :get, class: :"btn-navbar", id: :"btn-words" %>
                    </li>
                    <li>
                        <%= link_to "Resumes", posts_path, :method => :get, class: :"btn-navbar", id: :"btn-words" %>
                    </li>
                    <li>
                        <% if current_company.name == nil || current_company.name == "" %>
                            <%= link_to edit_company_registration_path, :method => :get, class: :"btn-navbar", id: :"btn-words" do %>
                                Edit Profile</i>
                            <% end %>
                        <% else %>
                            <%= link_to edit_company_registration_path, :method => :get, class: :"btn-navbar", id: :"btn-words navbar-company-name" do %>
                                <%= current_company.name %></i>
                            <% end %>
                        <% end %>
                    </li>
                <% elsif user_signed_in? %>
                    <li>
                        <%= link_to "Jobs", posts_path, :method => :get, class: :"btn-navbar", id: :"btn-words" %>
                    </li>
                    <li>
                        <%= link_to "Resumes", posts_path, :method => :get, class: :"btn-navbar", id: :"btn-words" %>
                    </li>
                    <li>
                        <% if current_user.name == nil || current_user.name == "" %>
                            <%= link_to edit_user_registration_path, :method => :get, class: :"btn-navbar", id: :"btn-words" do %>
                                Edit Profile <i class="fa fa-cog"></i>
                            <% end %>
                        <% else %>
                            <%= link_to edit_user_registration_path, :method => :get, class: :"btn-navbar", id: :"btn-words" do %>
                                <%= current_user.name %> <i class="fa fa-cog"></i>
                            <% end %>
                        <% end %>
                    </li>
                <% else %>
                    <li>
                        <%= link_to "Jobs", posts_path, :method => :get, class: :"btn-navbar", id: :"btn-words" %>
                    </li>
                    <li>
                        <%= link_to "Resumes", new_post_path, :method => :get, class: :"btn-navbar", id: :"btn-words" %>
                    </li>
                    <li>
                        <%= link_to "Login", new_post_path, :method => :get, class: :"btn-navbar", id: :"btn-words" %>
                    </li>
                <% end %> 
            </ul>
        </div>
    </nav>

    <div class="main-body">
        <div class="home-flash">
            <% if notice %>
                <div class="bg-banner bg-success"><%= notice %></div>
            <% end %>
            <% if alert %>
                <div class="bg-banner bg-danger"><%= alert %></div>
            <% end %>
        </div>
        <%= yield %>
    </div>
</body>

</html>
