<div class="company-login-bg--container bg-container col-xs-12" id="company-edit-bg--container">

        <h1>Edit Profile</h1>

        <div class="company-edit--nav col-sm-12 col-md-4">
            <div class="new-post--input company-edit--options company-edit--options-active" id="1">Resume</div>

<!--             Add Metrics After More Web Traction
            <div class=" new-post--input company-edit--options" id="3">Metrics</div> -->
            <div class=" new-post--input company-edit--options" id="2">Password</div>
<!--             <div class=" new-post--input company-edit--options" id="4">Delete Account</div> -->
            <%= link_to "Logout", destroy_user_session_path, class: :"col-xs-12 new-post--input company-edit--options company-edit--logout", :method => :delete %>
        </div>

        <div class="company-edit--content col-md-8">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { multipart: true, method: :put }) do |f| %>
                <%= devise_error_messages! %>

                <div class="company-edit--section company-edit--profile" id="company-edit-1">
                    <div class="field">
                        <h6 class="form-labels">First Name*</h6>
                        <%= f.text_field :name, class: "new-post--input new-post--input-active", autofocus: true, required: true %>
                    </div>

                    <div class="field">
                        <h6 class="form-labels">Last Name*</h6>
                        <%= f.text_field :lastname, class: "new-post--input", required: true %>
                    </div>

                    <div class="field">
                        <h6 class="form-labels">Citizenship*</h6>
                        <%= f.country_select(:citizenship, {}, {class: "new-post--input index-search-form--select new-post--country"}, label: false, required: true) %>
                    </div>

                    <div class="field">
                        <h6 class="form-labels">Current Residence*</h6>
                        <%= f.country_select(:residence, {}, {class: "new-post--input index-search-form--select new-post--country"}, label: false, required: true) %>
                    </div>

                    <div class="field">
                        <h6 class="form-labels">First Choice Country*</h6>
                        <%= f.country_select(:countrya, {prompt: "First Choice Country"}, {class: "new-post--input index-search-form--select new-post--country"}, label: false, required: true) %>
                    </div>

                    <div class="field">
                        <h6 class="form-labels">Second Choice Country</h6>
                        <%= f.country_select(:countryb, {include_blank: "All"}, {class: "new-post--input index-search-form--select new-post--country"}, label: false) %>
                    </div>

                    <div class="field">
                        <h6 class="form-labels">Third Choice Country</h6>
                        <%= f.country_select(:countryc, {include_blank: "All"}, {class: "new-post--input index-search-form--select new-post--country"}, label: false) %>
                    </div>

                    <div class="field">
                        <h6 class="form-labels">About Me*</h6>
                        <%= f.text_area :description, class: "new-post--input", required: true %>
                    </div>

                    <div class="field">
                        <h6 class="form-labels">Education*</h6>
                        <%= f.text_field :education, class: "new-post--input", placeholder: "Education (University, Certification, etc.)", required: true %>
                    </div>

                    <div class="field">
                        <h6 class="form-labels">Expertise*</h6>
                        <%= f.text_area :expertise, class: "new-post--input", required: true %>
                    </div>

                    <div class="field">
                        <h6 class="form-labels">Previous Experience*</h6>
                        <%= f.text_area :experience, class: "new-post--input", required: true %>
                    </div>



                    <div class="field">
                        <h6 class="form-labels">Skills/Interests*</h6>
                        <%= f.text_area :skills, class: "new-post--input", required: true %>
                    </div>

                    <div class="field">
                        <h6 class="form-labels">Additional Languages*</h6>
                        <%= f.text_field :languages, class: "new-post--input", required: true %>
                    </div>

                    <div class="field">
                        <h6 class="form-labels">Facebook Profile</h6>
                        <%= f.url_field :facebook, class: "new-post--input", placeholder: "http://www.facebook.com/example - (if n/a leave blank)" %>
                    </div>

                    <div class="field">
                        <h6 class="form-labels">LinkedIn Profile</h6>
                        <%= f.url_field :linkedin, class: "new-post--input", placeholder: "https://www.linkedin.com/in/example - (if n/a leave blank)" %>
                    </div>

                    <div class="field">
                        <%= f.label :logo, "Profile Image (250x250)", id: "company-edit--company-logo-label", required: true %><br>
                        <% if @user.logo.exists? %>
                            <%= image_tag @user.logo.url(:thumb) %><br>
                        <% end %>
                        <%= f.file_field :logo, class: "new-post--input", id: "company-edit--company-logo-upload", placeholder: "User Profile Image" %>
                    </div>

                    <div class="actions">
                        <%= f.submit "Post Resume", class: "home-search-form--search new-post--submit" %>
                    </div>
                </div>

                <div class="company-edit--section comp
                any-edit--password company-edit--hidden" id="company-edit-2">
                    <div class="field">
                        <h6 class="form-labels">Email</h6>
                        <%= f.email_field :email, class: "new-post--input", placeholder: "Work Email" %>
                    </div>

                    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                    <% end %>

                    <div class="field">
                        <h6 class="form-labels">New Password</h6>
                        <%= f.password_field :password, class: "new-post--input", autocomplete: "off", placeholder: "New Password" %>
                    </div>

                    <div class="field">
                        <h6 class="form-labels">Confirm Password</h6>
                        <%= f.password_field :password_confirmation, class: "new-post--input", autocomplete: "off", placeholder: "Confirm Password" %>
                    </div>

                    <div class="actions">
                        <%= f.submit "Update", class: "home-search-form--search new-post--submit" %>
                    </div>
                </div>

            <% end %>
            

            <div class="company-edit--section company-edit--delete company-edit--hidden" id="company-edit-4">
                <h3>Are you sure you want to cancel your account?</h3>

                <%= button_to "Cancel my account", registration_path(resource_name), class: "home-search-form--search new-post--submit", data: { confirm: "Are you sure?" }, method: :delete %>
            </div>
        </div>
</div>