 <div class="user-login-bg--container bg-container col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="new-post--container col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">  
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">  
            <h1>User Sign up</h1>
            <p>Sign up to post your resume online and get discovered.</p>

            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= devise_error_messages! %>

              <div class="field">
                <%= f.email_field :email, class: "col-xs-12 col-sm-12 col-md-12 col-lg-12 new-post--input", id: "sign-up-email-field", autofocus: true, placeholder: "Email" %>
              </div>

              <div class="field">
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
                <%= f.password_field :password, class: "col-xs-12 col-sm-12 col-md-12 col-lg-12 new-post--input", autocomplete: "off", placeholder: "Password" %>
              </div>

              <div class="field">
                <%= f.password_field :password_confirmation, class: "col-xs-12 col-sm-12 col-md-12 col-lg-12 new-post--input", autocomplete: "off", placeholder: "Password Confirmation" %>
              </div>

              <div class="actions">
                <%= f.submit "Sign up", class: "home-search-form--search new-post--submit" %>
              </div>
            <% end %>

            <%= render "users/shared/links" %>
        </div>
    </div>
</div>

<%= render "partials/footer" %>